@use "./variables" as *;

html {
	font-size: 100%;
}

body {
	background-color: $dark-blue;
	color: $light-teal;
	font-family: $font-primary;
	font-weight: $font-weight-regular;
	font-size: clamp(1.5rem, 7.353vw - 0.706rem, 4rem);
}

.content-wrapper {
	width: 90%;
	max-width: 1280px;
	margin: 0 auto;
	min-height: 100vh;
}

h1 {
	font-weight: $font-weight-regular;
	font-size: clamp(1.5rem, 7.353vw - 0.706rem, 4rem);
}
