@use "./variables" as *;
@use "./functions" as *;

.footer {
	background-color: $dark-blue;
	color: $light-teal;
	font-weight: $font-weight-semibold;
	font-size: toRem(16px);
	height: toRem(50px);

	.content-width {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}
}
