// colors
$dark-blue: #0b132b;
$light-blue: #3a506b;
$teal: #5bc0be;

// fonts
$font-primary: "Krub", sans-serif;

// font weights
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// spacing
$block-margin: clamp(3.75rem, 11.574vw + 1.146rem, 11.563rem);
