@use "./variables" as *;
@use "./functions" as *;

.work {
	padding: $block-margin 0;
	background-color: $light-teal;

	&__title {
		color: $dark-blue;
		font-size: toRem(20px);
		margin-bottom: 6rem;
		font-weight: $font-weight-bold;
		text-transform: uppercase;
		font-style: italic;
	}

	&__list {
		list-style-type: none;
		padding: unset;
	}

	&__item {
		padding: 1rem 0;
	}

	.link {
		color: $dark-blue;
	}

	.link__indicator {
		height: clamp(0.938rem, 2.941vw + 0.055rem, 1.938rem);
		width: auto;
		inset-block-start: -0.8rem;
	}
}
